.Home{
	position: relative;
	padding: 40px 0 0;
	@media screen and (min-width: 520px) {
		padding: 80px 0 0;
	}
	&__onboarding{
		position: absolute;
		top: 0;
		font-weight: 700;
		color: orangered;
		@media screen and (min-width: 520px) {
			font-size: 1.4em;
			left: 9vw;
		}
	}
	&__arrow{
		transform: rotate(-90deg);
		width: 32px;
		margin-bottom: -7px;
		fill: orangered;
		@media screen and (min-width: 520px) {
			width: 64px;
		}
	}
}