.Download{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 4rem 0;
	@media screen and (min-width: 520px) {
		padding: 6rem 1rem;
	}
	&__title{
		font-size: 2em;
		margin-bottom: 2rem;
	}
	&__button{
		$size: 160px;
		width: $size;
		height: $size;
		font-size: 1.3em;
		border: none;
		border-radius: 5px;
		background-color: orangered;
		color: white;
		cursor: pointer;
		transition: background-color .15s;
		&:hover{
			background-color: orange;
		}
	}
	&__icon{
		width: 80px;
		fill: white;
	}
}