.Search{
	width: 100%;
	&__label{
		position: relative;
		display: block;
	}
	&__input{
		width: 100%;
		padding: 0 0.6em;
		height: 48px;
		padding-right: 48px;
		border: none;
		background-color: hsl(0, 0%, 90%);
		&:focus{
			outline: none;
			box-shadow: 0 0 0 2px orangered;
		}
	}
	&__button{
		position: absolute;
		right: 0;
		width: 48px;
		height: 48px;
		border: 1px solid transparent;
		background-color: transparent;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		&:hover{
			background-color: hsl(0, 0%, 0%, 0.05);
			border-left: 1px solid hsl(0, 0%, 80%);
		}
	}
	&__icon{
		width: 24px;
	}
}